<div class="card">
    <div class="pad-10">
        <i class="fa fa-arrow-left"></i> <span class="pad-l-30 textfont">CEO, Magma Fincorp, Kolkata </span>
    </div>

</div>

<div class="container">
    <h4 class="Offer_Extended pad-t-50">Offer Extended</h4>
    <div class="row mb-4 offerCard common_pad">
        <div class="col-12 ">
            <div class="row">
                <div class="col-1 imgDiv"><img src="../../assets/images/avtar.png" class="avtar_icon">
                </div>

                <div class="col-2">
                    <div class="margin-t-b">
                        <p class="m0">Anil Kapoor</p>
                        <p class="m0 degination">Director, Piramal Enterprises</p>
                        <p class="m0 degination">Kolkatta</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row margin-t-b">
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <p class="m0 offer_extended_column H_color">Offer Extended on</p>
                                    <p class="m0 offer_extended_column">21 Jul 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column H_color">Offer Accepted on</p>
                                        <p class="m0 offer_extended_column">23 Jul 2020</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column H_color">Date of Joining</p>
                                        <p class="m0 offer_extended_column">1 Sep 2020</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>


                <div class="col-1 p0 mt-2">
                    <div class="">
                        <div class="margin-t-b">
                            <p class="m0 offer_extended_column H_color">Joining Status</p>
                            <p class="m0 offer_extended_column"><img src="../../assets/images/thumb.png" alt=""
                                    class="thumb_icon"> <img src="../../assets/images/drop.webp" alt=""
                                    class="thumb_icon"></p>
                        </div>
                    </div>

                </div>
                <div class="col-1 p0 mt-2">
                    <div class="">
                        <div class="margin-t-b">
                            <p class="m0 offer_extended_column H_color">B.V</p>
                            <p class="m0 offer_extended_column"><img src="../../assets/images/thumb.png" alt=""
                                    class="thumb_icon"> <img src="../../assets/images/drop.webp" alt=""
                                    class="thumb_icon"></p>
                        </div>
                    </div>

                </div>

                <div class="col-3 p0 ">
                    <div>
                        <p class="description_column btn_Aline">Metus etiam. Platea aliquet vulputate. Egestas. Lacinia
                            ultrices. Pharetra. Quisque odio morbi sod tea aliquet vulputate.team <img
                                src="../../assets/images/threedot-removebg-preview.png" alt="" class="three_dot_icon">
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="container mt-2">
    <h4 class="Offer_Extended pad-t-50">Prospects</h4>
    <div class="row offerCard ProspectsRow">

        <div class="col-3 p0">Candidate Details</div>
        <div class="col-3">Interview schedule</div>
        <div class="col-3">Reference Check</div>
        <div class="col-3">comments</div>

    </div>
</div>
<div class="container mt-4">
    <div class="row common_pad">
        <div class="col-2 ">

        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-1 arrowBtn">
                    < </div>
                        <div class="col-3 txt-center"><img src="../../assets/images/avtar.png"
                                class="avtar_icon border_none"></div>
                        <div class="col-3 txt-center"><img src="../../assets/images/avtar.png"
                                class="avtar_icon border_none"></div>
                        <div class="col-3 txt-center"><img src="../../assets/images/avtar.png"
                                class="avtar_icon border_none"></div>
                        <div class="col-1 arrowBtn">></div>
                </div>
            </div>
            <div class="col-3">
                <div class="row mt-3">
                    <div class="col-3 Leads">
                        Leads
                    </div>
                    <div class="col-6">
                        Captured
                    </div>
                </div>
            </div>
        </div>

 </div>




 <div class="container mt-2">
    <div class="row mb-4 offerCard common_pad">
        <div class="col-12 ">
            <div class="row">
                <div class="col-1 imgDiv"><img src="../../assets/images/avtar.png" class="avtar_icon">
                </div>

                <div class="col-2">
                    <div class="margin-t-b">
                        <p class="m0">Anil Kapoor</p>
                        <p class="m0 degination">Director, Piramal Enterprises</p>
                        <p class="m0 degination">Kolkatta</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row margin-t-b">
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                    <p class="m0 offer_extended_column H_color txt-center">
                                        <img src="../../assets/images/greenthumb.png" class="thumb_icon">
                                
                                    </p>
                                    <p class="m0 txt-center H_color">Hire</p>
                                    <p class="m0 offer_extended_column">21 Jul 2020</p>
                                </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column H_color">Awaiting</p>
                                        <p class="m0 offer_extended_column">Feedback</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column H_color">Date of Joining</p>
                                        <p class="m0 offer_extended_column">1 Sep 2020</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>


                <div class="col-1 p0 number_algne">
                    <div class="">
                        <div class="margin-t-b">
                           7
                        </div>
                    </div>

                </div>
                <div class="col-1 p0 number_algne">
                    <div class="">
                        <div class="margin-t-b">
                           3
                        </div>
                    </div>

                </div>

                <div class="col-3 p0 ">
                    <div>
                        <p class="description_column btn_Aline">Metus etiam. Platea aliquet vulputate. Egestas. Lacinia
                            ultrices. Pharetra. Quisque odio morbi sod tea aliquet vulputate.team <img
                                src="../../assets/images/threedot-removebg-preview.png" alt="" class="three_dot_icon">
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt-2">
    <div class="row mb-4 offerCard common_pad">
        <div class="col-12 ">
            <div class="row">
                <div class="col-1 imgDiv"><img src="../../assets/images/avtar.png" class="avtar_icon">
                </div>

                <div class="col-2">
                    <div class="margin-t-b">
                        <p class="m0">Anil Kapoor</p>
                        <p class="m0 degination">Director, Piramal Enterprises</p>
                        <p class="m0 degination">Kolkatta</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row margin-t-b">
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <p class="m0 offer_extended_column H_color txt-center">
                                        <img src="../../assets/images/greenthumb.png" class="thumb_icon">
                                
                                    </p>
                                    <p class="m0 txt-center H_color">Hire</p>
                                    <p class="m0 offer_extended_column">21 Jul 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column H_color">Awaiting</p>
                                        <p class="m0 offer_extended_column">Feedback</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <p class="m0 offer_extended_column H_color txt-center">
                                        <img src="../../assets/images/greenthumdown.png" class="thumb_icon">
                                
                                    </p>
                                    <p class="m0 txt-center H_color">No Hire</p>
                                    <p class="m0 offer_extended_column">21 Jul 2020</p>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>


                <div class="col-1 p0 number_algne">
                    <div class="">
                        <div class="margin-t-b">
                           7
                        </div>
                    </div>

                </div>
                <div class="col-1 p0 number_algne">
                    <div class="">
                        <div class="margin-t-b">
                           3
                        </div>
                    </div>

                </div>

                <div class="col-3 p0 ">
                    <div>
                        <p class="description_column btn_Aline">Metus etiam. Platea aliquet vulputate. Egestas. Lacinia
                            ultrices. Pharetra. Quisque odio morbi sod tea aliquet vulputate.team <img
                                src="../../assets/images/threedot-removebg-preview.png" alt="" class="three_dot_icon">
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt-2">
    <div class="row mb-4 offerCard common_pad">
        <div class="col-12 ">
            <div class="row">
                <div class="col-1 imgDiv"><img src="../../assets/images/avtar.png" class="avtar_icon">
                </div>

                <div class="col-2">
                    <div class="margin-t-b">
                        <p class="m0">Anil Kapoor</p>
                        <p class="m0 degination">Director, Piramal Enterprises</p>
                        <p class="m0 degination">Kolkatta</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row margin-t-b">
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <p class="m0 offer_extended_column H_color txt-center">
                                    <img src="../../assets/images/greenthumb.png" class="thumb_icon">
                            
                                </p>
                                <p class="m0 txt-center H_color">Hire</p>
                                <p class="m0 offer_extended_column">21 Jul 2020</p>
                            </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column color_red">Awaiting</p>
                                        <p class="m0 offer_extended_column color_red">Feedback</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4 p0 imgDiv Leads mt-2">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column H_color txt-center">
                                            <img src="../../assets/images/greenthumdown.png" class="thumb_icon">
                                    
                                        </p>
                                        <p class="m0 txt-center H_color">No Hire</p>
                                        <p class="m0 offer_extended_column">21 Jul 2020</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>


                <div class="col-1 p0 number_algne">
                    <div class="">
                        <div class="margin-t-b">
                           7
                        </div>
                    </div>

                </div>
                <div class="col-1 p0 number_algne">
                    <div class="">
                        <div class="margin-t-b">
                           3
                        </div>
                    </div>

                </div>

                <div class="col-3 p0 ">
                    <div>
                        <p class="description_column btn_Aline">Metus etiam. Platea aliquet vulputate. Egestas. Lacinia
                            ultrices. Pharetra. Quisque odio morbi sod tea aliquet vulputate.team <img
                                src="../../assets/images/threedot-removebg-preview.png" alt="" class="three_dot_icon">
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>



    <div class="container">
        <h4 class="Offer_Extended pad-t-50 ">Dropped</h4>
        <div class="row mb-4 common_pad">
            <div class="col-12 offerCard">
                <div class="row">
                    <div class="col-1 imgDiv"><img src="../../assets/images/Bitmap Copy 11.png" class="avtar_icon">
                    </div>

                    <div class="col-2">
                        <div class="margin-t-b">
                            <p class="m0">Shridhar Joshi</p>
                            <p class="m0 degination">Director, Piramal Enterprises</p>
                            <p class="m0 degination">Kolkatta</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row margin-t-b">
                            <div class="col-4 p0 imgDiv Leads mt-2">
                                <div class="">
                                    <div class="">
                                        <p class="m0 offer_extended_column H_color">Offer Extended on</p>
                                        <p class="m0 offer_extended_column">21 Jul 2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p0 imgDiv Leads mt-2">
                                <div class="">
                                    <div class="">
                                        <div class="">
                                            <p class="m0 offer_extended_column H_color">Offer Accepted on</p>
                                            <p class="m0 offer_extended_column">23 Jul 2020</p>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-4 p0 imgDiv Leads mt-2">
                                <div class="">
                                    <div class="">
                                        <div class="">
                                            <p class="m0 offer_extended_column H_color">Date of Joining</p>
                                            <p class="m0 offer_extended_column">1 Sep 2020</p>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
    
                    </div>


                    <div class="col-1 p0 number_algne">
                        <div class="">
                            <div class="margin-t-b">
                               4            
                            </div>
                        </div>
    
                    </div>
                    <div class="col-1 p0 number_algne">
                        <div class="">
                            <div class="margin-t-b">
                               3
                            </div>
                        </div>
    
                    </div>

                    <div class="col-3 p0 ">
                        <div>
                            <p class="description_column btn_Aline">Metus etiam. Platea aliquet vulputate. Egestas.
                                Lacinia ultrices. Pharetra. Quisque odio morbi sod tea aliquet vulputate.team <img
                                    src="../../assets/images/threedot-removebg-preview.png" alt=""
                                    class="three_dot_icon"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>